*{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.text{
   text-align: center;
}

.cuadro-C{
    display: flex;
   align-items: center;
   justify-content: center;
   margin: 150px;
    
}

.cuadro{
    display: inline-block;
    padding: 130px 170px;
    background-color: rgb(164, 164, 73); 
    background-image: url(https://media1.tenor.com/images/8979edc4c395b659db6cbdab73660f81/tenor.gif?itemid=16575486);
    background-repeat: no-repeat;
    background-size:100% ;
    object-fit: cover;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 10px 25px;
    transform: scale(0.05);
    box-shadow: 20px 10px 50px rgba(0,0,0,1);
}
.cuadro:hover{
    transition: all .2s ease-in-out;
    transform: scale(1);
}


.cuadro-1{
    display: inline-block;
    padding: 130px 170px;
    background-color: rgb(0, 0, 0); 
    background-image: url(https://media1.tenor.com/images/8979edc4c395b659db6cbdab73660f81/tenor.gif?itemid=16575486);
    background-repeat: no-repeat;
    background-size:100% ; 
    object-fit: cover; 
    border: 1px solid rgb(255, 0, 0);
    border-radius: 10px 25px;
    transform: scale(0.05);
}

.cuadro-1:hover{
   transform: scale(1);
   transition: all .2s ease-in-out;
   animation: bounce 3s infinite;
}

@keyframes bounce{
    30%{
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}


.cuadro-2{
    display: inline-block;
    padding: 130px 170px;
    background-color: rgb(0, 0, 0); 
    /* background-image: url(https://media1.tenor.com/images/8979edc4c395b659db6cbdab73660f81/tenor.gif?itemid=16575486); */
    /* background-repeat: no-repeat;
    background-size:100% ; */
    /* object-fit: cover; */
    border: 1px solid rgb(255, 0, 0);
    border-radius: 10px 25px;
    /* transform: scale(0.05); */
}

.cuadro-2:hover{
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}
