:root{
    --primario:#9c27B8;
    --primarioOscuro:#89119D;
    --secundario:#FFcE00;
    --secundarioOscuro: rgb(233,287,2)
    --blanco:#FFF;
    --negro:#000;

    --fuentePrincipal: 'Shadows Into Light', cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  /* globales */

  body{
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
  }
  
  p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
  }

  a{
    text-decoration: none;
  }

  img{
    width: 100%;
  }

  .container{
    max-width: 120rem;
    margin: 0 auto;
  }

h1,h2,h3{
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.5rem;
}

h3{
    font-family: 2.5rem;
}


/* header */

.header{
    display: flex;
    justify-content: center;
}

.header__logo{
    margin: 3rem;
}

/* navegacion */

.navegacion{
    background-color: var(--primarioOscuro);
    padding: .3rem;
    display: flex;
    justify-content: center;
    /* gap:2rem; forma actual */
}

.navegacion__enlaces{
    font-family:var(--fuentePrincipal);
    color: white;
    font-weight: 600;
    font-size: 2.9rem;
    margin-right: 3rem;
}

.navegacion__enlaces:hover{
    color: var(--secundario);
}

.navegacion__enlaces--dife{
    color: var(--negro);
}

.footer{
    background-color: var(--primarioOscuro);
    padding: 0rem;
    font-weight: 500;
    color: white;
}

.footer__texto{
    text-align: center;
}

/*************** GRID ******************/

.grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2rem;
}

@media (min-width: 768px) {
  .grid{
    grid-template-columns: repeat(3,1fr);
  }
}

.producto{
background-color: var(--primarioOscuro);
padding: 1rem;
border-radius: 5px;
}



/* .producto__informacion{ clases reutilizables

} */

.producto___nombre{
  font-size: 2.5rem;
  font-weight: 600;
}

.producto___precio{
  font-size: 1.5;
}

.producto___nombre,
.producto___precio{
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  margin: 1rem 0;
}

/******************** graficos *********************/

.grafico{
  min-height: 30rem;
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 1 / 3;
  border-radius: 5px;
}

.grafico__camisas{
  grid-row: 2 / 3;
  background-image: url(../img/grafico1.jpg);
}

.grafico__node{
  background-image: url(../img/grafico2.jpg);
  grid-row: 8 / 9;
}

@media (min-width:768px) {
  .grafico__node{
    grid-row: 5 / 6;
    grid-column: 2 / 4;
    /* background-image: url(../img/grafico2.jpg); */
  }
}

/******************* Nosotros ************/

.texto{
  display: grid;
  grid-template-rows: repeat(2,auto);
}

@media (min-width:768px) {
  .texto{
    grid-template-columns: repeat(2,auto);
    column-gap: 2rem;
    /* background-image: url(../img/grafico2.jpg); */
  }
}

.texto__img{
  grid-row: 1 / 2;
  border-radius: 1.5rem;

}

@media (min-width:768px) {
  .texto__img{
    grid-column: 2 / 3;
    /* background-image: url(../img/grafico2.jpg); */
  }
}

/*************bloques*************/

.bloques{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2rem;
}

.bloques{
  margin: 0;
}

@media (min-width:768px) {
  .bloques{
    grid-template-columns: repeat(4,1fr);
    /* background-image: url(../img/grafico2.jpg); */
  }
}

.bloque__title{
  font-size: 2rem;
}

.bloque__title-parrafo{
  text-align: center;
}

/***********paguina producto*********/

@media (min-width:768px) {
  .camisa{
    display: grid;
    grid-template-columns: repeat(2,auto);
    column-gap: 2rem ;
    /* background-image: url(../img/grafico2.jpg); */
  }
}

/* .camisa{
  grid-template-columns: repeat(2,auto);
} */

.formulario{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 2rem;
}

.formulario__campo{
  border: 1rem solid var(--primarioOscuro); 
  background-color: transparent;
  outline: none;
  
  

} 

.formulario__submit{
border: none;
background-color: #FFcE00;
color: #000;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: 500;
font-size: 2rem;
border-radius: .4rem;
box-shadow:  .2rem .2rem .4rem .2rem black;
transition: font-size .3s ease;
display: grid;
grid-column: 1 / 3;
}

.formulario__submit:hover{
  font-size: 3rem;
  cursor: pointer;
}




















