*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

.uno{
    border: 15px solid black;
    margin: 25px 190px;
    padding: 5px;
    background-color: rgb(30, 75, 35);
}

p{
    background-color: black;
    color: white;
    text-align: center;
    
}
h1{
    text-align: center;
}

.dos{
    border: 15px solid black;
    margin: 25px 100px;
    padding: 5px;
    background-color: rgb(30, 75, 35);
}
.tre{
    background-color: black;
    border-radius: 50%;
}