*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgb(62, 74, 92);
}

.navegacion{
 width: 400px;
 height: 70px;
 background: cornsilk;
 display: flex;
 position: relative;
 justify-content: center;
 align-items: center;
 border-radius: 15px;

}

.navegacion ul{
    display: flex;
    width: 350px;
}

.navegacion ul li{
    position:relative;
    list-style: none;
    width:70px;
    height: 70px;
    z-index: 1;
}

.navegacion ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    font-weight: 500;
}

.navegacion ul li a .icono{
 position: relative;
 display: inline-block;
 line-height: 75px;
 font-size: 1.5em;
 text-align: center;
 transition: 0.5s;
 color: crimson;
}

.navegacion ul li.active a .icono{
    transform: translateY(-35px);
}

.navegacion ul li a .text{
  position: absolute;
  color: black;
  font-weight: 400;
  font-size: 0.85rem;
  opacity:0;
  transform: translateY(-20px);

}

.navegacion ul li.active a .text{
    opacity: 1;
    transform: translateY(10px);
}

.indicator{
    position: absolute;
    top: -36px;
    width: 70px;
    height: 70px;
    background: blue;
    border-radius:50%;
    border:5px solid rgb(62, 74, 92);
    transition: .5S;
}

.indicator::before{
    content: "";
    position: absolute;
    top: 31px;
    left: -21px;
    width: 20px;
    height: 20px;
    background:transparent;
    border-top-right-radius: 20px;
    box-shadow: 0 -10px 0 0 rgb(62, 74, 92);
}

.indicator::after{
    content: "";
    position: absolute;
    top: 31px;
    right: -21px;
    width: 20px;
    height: 20px;
    background:transparent;
    border-top-left-radius: 20px;
    box-shadow: 0 -10px 0 0 rgb(62, 74, 92);
}

.navegacion ul li:nth-child(1).active ~ .indicator {
    transform: translateX(Calc(70px * 0));

}
.navegacion ul li:nth-child(2).active ~ .indicator {
    transform: translateX(Calc(70px * 1));

}

.navegacion ul li:nth-child(3).active ~ .indicator {
    transform: translateX(Calc(70px * 2));

}

.navegacion ul li:nth-child(4).active ~ .indicator {
    transform: translateX(Calc(70px * 3));

}

.navegacion ul li:nth-child(5).active ~ .indicator {
    transform: translateX(Calc(70px * 4));

}